body {
  text-align: center;
  margin: 20px;
}

.todo-registration{
  background-color: aqua;
  width: 500px;
}

.todo-registration input {
  width: 300px;
}

.todo-registration button {
  width: 300px;
}

.task-list p {
  font-size: 32px;
}


.todo-task-list {
  background-color: peachpuff;
  width: 500px;
  text-align: justify;
  min-height: 160px;
}

.task-list{
  text-align: center;
  text-decoration: underline;
}

.todo-list {
  display: flex;
  margin-bottom: 20px;
  width: 500px;
  padding: 10px 0;
  height: 80px;
}


.todo-list p {
  margin: 0 120px;
  font-size: 14px;
  line-height: 80px;
}

.todo-button {
  flex-grow: 1;
  line-height: 80px;
  text-align: end;
}

.todo-edit{
  margin: 0 15px;
  border-radius: 50%;
  border: 0.5px solid black;
  background-color: skyblue;
  padding: 10px;
}

.todo-edit:hover {
  cursor: pointer;
  background-color: crimson;
  font-weight: bold;
}

.todo-delete {
  border-radius: 50%;
  border: 0.5px solid black;
  background-color: pink;
  padding: 10px;
}

.todo-delete:hover {
  cursor: pointer;
  background-color: dimgray;
  font-weight: bold;
}